body{
    background-image: url(Background.png);
}

.ninja{
    width:850px;
    height: 794px;
    display: block;
    background-image:url(yojimbo.png);
    animation: attack 1s steps(10) infinite;
    position:relative;
    top:80px;
    left:150px;
    }

@keyframes attack{
   to{
        background-position: -8800px;
        }
    }

.ninja2{
    width:500px;
    height: 794px;
    display: block;
    background-image:url(dodge.png);
    animation: duck 1s steps(7) infinite;
    position:relative;
    left:500px;
    }

@keyframes duck{
   to{
        background-position: -3925px;
        }
    }

.ninja3{ 
    width:600px;
    height: 794px;
    display: block;
    background-image:url(pullgun.png);
    animation: gun 1s steps(6) reverse infinite;
    position:relative;
    left:500px;
    }

@keyframes gun{
   to{
        background-position: -3825px;
        }
    }

